version: '3.8'

services:
  # Backend Service (Python AI Model)
  model-service:
    # Specifies that Docker should use the Dockerfile in model-service and assigns the build context.
    build:
      context: ../model-service  # Path to the model-service folder
      dockerfile: Dockerfile
    container_name: sms-checker-model-service
    ports:
      - "8081:8081" # Maps local port 8081 to 8081 in the container
    # Models are trained inside the container, so a persistent volume for the 'output' folder 
    # is not strictly necessary unless you want to keep the models outside of Docker.

  # Frontend/Backend Service (Spring Boot App)
  app:
    # Specifies that Docker should use the Dockerfile in app and assigns the build context.
    build:
      context: ../app # Path to the app folder
      dockerfile: Dockerfile
    container_name: sms-checker-app
    ports:
      - "8080:8080" # Maps local port 8080 to 8080 in the container
    # The crucial variable that points to the model service. The service name 'model-service' 
    # is resolved within the Docker network.
    environment:
      - MODEL_HOST=http://model-service:8081
    # Ensures the application does not start until the model service is created and ready
    depends_on:
      - model-service