appVersion: "0.0.0"

config:
  appPort: 8080
  modelHost: "http://model-service:8081"

ingress:
  enabled: true
  host: "sms-checker.local"

modelService:
  versions:
    v1:
      enabled: true
      image: "sms-model-service:latest"
      pullPolicy: "IfNotPresent"
      port: 8081
      storage:
        type: hostPath    
        path: "/mnt/shared"
        mountPath: "/model-service/output"
        size: "1Gi"
      versionLabel: "v1"
    v2:
      enabled: true
      image: "sms-model-service:latest"
      pullPolicy: "IfNotPresent"
      port: 8081
      storage:
        type: hostPath
        path: "/mnt/shared"
        mountPath: "/model-service/output"
        size: "1Gi"
      versionLabel: "v2"

app:
  versions:
    v1:
      enabled: true
      image: "sms-checker-app:latest"
      port: 8080
      pullPolicy: "IfNotPresent"
      modelHost: "http://model-service:8081"
      versionLabel: "v1"
    v2:
      enabled: true
      image: "sms-checker-app:latest"
      port: 8080
      pullPolicy: "IfNotPresent"
      modelHost: "http://model-service:8081"
      versionLabel: "v2"

kube-prometheus-stack:
  grafana:
    enabled: false
  defaultRules:
    create: false
  prometheus-node-exporter:
    enabled: false
  kube-state-metrics:
    enabled: false
  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}
      ruleSelectorNilUsesHelmValues: false
      ruleSelector: {}
      alerting:
        alertmanagers:
        - namespace: monitoring
          name: sms-monitoring-alertmanager
          port: web
  alertmanager:
    enabled: true

monitoring:
  alertmanager:
    config:
      global:
        resolve_timeout: 5m
        smtp_smarthost: "mailpit.monitoring.svc.cluster.local:1025"
        smtp_from: "alerts@sms.local"
        smtp_require_tls: false
      route:
        receiver: email-devs
        group_by: ['alertname']
        group_wait: 10s
        group_interval: 1m
        repeat_interval: 5m
      receivers:
      - name: email-devs
        email_configs:
        - to: "devs@sms.local"
          send_resolved: true

mailhog:
  enabled: false
