apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: "{{ .Release.Name }}-app-alerts"
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    prometheus: kube-prometheus
spec:
  groups:
  - name: sms-app-alerts
    interval: 30s
    rules:
    - alert: HighRequestRate
      expr: rate(http_requests_total{job="sms-app"}[1m]) > 0.25
      for: 2m
      labels:
        severity: warning
      annotations:
        summary: "High request rate detected on SMS Checker"
        description: "The application is receiving more than 15 requests per minute for 2 minutes straight."
    
    - alert: ServiceDown
      expr: up{job="sms-app"} == 0
      for: 1m
      labels:
        severity: critical
      annotations:
        summary: "SMS Checker service is down"
        description: "The SMS Checker application has been down for more than 1 minute."